<div id="settle-geo-search-results-page-new">

    <div class="row sgs-new-title">
        <div class="col-xs-12">
            <h1 class="animated fadeIn" style="opacity: 0;">
                {{ _ "settlegeosearch-special-results-title" }} <span>{{ term }}</span>
            </h1>
        </div>
    </div>

    <div class="row sgs-new-content">
        <div class="col-sm-8">

            {{# items }}
            <div class="row sgs-new-search-result-item">
                <div class="col-sm-4 sgs-new-col-left">
                    <div class="sgs-new-userpic">
                        <a class="sgs-userpic-wrapper" href="{{& userlink }}" title="{{ page_author }}">
                            <img src="{{ page_author_image }}" />
                        </a>
                        <span>Created by</span>
                    </div>
                    <div class="sgs-new-contribs">Contributors: {{ contributors }}</div>
                    <div class="sgs-new-last-updated">Last Updated: {{ updated }}</div>
                </div>
                <div class="col-sm-8 sgs-new-col-right">
                    <div class="sgs-new-col-title">
                        <a href="{{& url }}">{{ title }}</a>
                    </div>
                    <div class="sgs-new-col-subtitle">
                        {{ city }} {{ state }} {{ country }}
                    </div>
                    <div class="sgs-new-col-description">
                        {{ description }}
                    </div>
                </div>
            </div>
            {{/ items}}

	        <div class="row" id="settle-geo-search-categories-link">
		        <div class="col-md-12 animated fadeIn" style="opacity: 0;">
			        {{& moretext }}
		        </div>
	        </div>

        </div>
        <div class="col-sm-3 col-sm-offset-1 col-xs-offset-0 col-xs-12">
            <div class="sgs-new-col-bordered">
                <div class="sgs-new-col-title">
                    RELATED PAGES
                </div>
                <ul>
                    <li>
                        <a href="#">Sample page 1</a>
                    </li>
                    <li>
                        <a href="#">Sample page 2</a>
                    </li>
                    <li>
                        <a href="#">Sample page 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
