#settle-geo-search-results-page h1 {
    font-size: 32px;
    font-family: "MuseoSansCyrl",sans-serif;
}

#settle-geo-search-results-page h1 > span {
    background-color: #ffd100;
    display: inline-block;
    padding: 0 5px;
    font-weight: 500;
}

#settle-geo-search-results-wrapper .panel .panel-heading a {
    color: white;
    transition: none;
    font-weight: 700;
}

#settle-geo-search-results-wrapper .panel .panel-body a.label {
    margin-right: 5px;
    transition: none;
}

#settle-geo-search-results-wrapper .panel .panel-heading a:hover {
    text-decoration: underline;
}

#search-form-embeded-input {
    width: 100%;
}

@media (min-width: 1000px) {
    #search-form-embeded-input {
        margin-top: 23px;
    }
}

#search-form-embeded-input::after {
    content: "";
    display: table;
    clear: left;
}

#search-form-embeded-input .settle-geo-search-wrapper {
    float: left;
    width: 50%;
}

#search-form-embeded-input {
    position: relative;
}

#search-form-embeded-input .search-submit {
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 15px;
    right: 10px;
    top: 13px;
    border: 0;
    background: none;
    text-align: center;
    padding: 0;
    color: #1c9cd7 !important;
}

#search-form-embeded-input .settle-geo-search-wrapper .selectize-input {
    border: 0;
    border-top: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-radius: 0;
    padding: 10px 12px;
    min-height: 42px;
    background-color: white;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: text !important;
}

#search-form-embeded-input .settle-geo-search-wrapper .selectize-input input {
    cursor: text !important;
}

#search-form-embeded-input input.selectize-search-appendix {
    border-radius: 0;
    padding: 10px 12px;
    min-height: 42px;
    background-color: white;
    outline: none;
    width: 50%;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}

/* new page */
.sgs-new-title h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sgs-new-col-bordered {
    border: 2px solid rgb(255, 227, 0);
    border-radius: 20px;
    padding: 20px 40px;
    max-width: 237px;
}

.sgs-new-col-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: black;
    text-transform: uppercase;
}

.sgs-new-col-title a {
    color: black;
    text-decoration: none;
}

.sgs-new-col-bordered ul {
    margin: 0;
    padding: 0;
}

.sgs-new-col-bordered ul li {
    list-style: none;
    display: block;
    margin: 15px 0;
}

.sgs-new-col-bordered ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.sgs-new-search-result-item {
    padding-left: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .sgs-new-search-result-item {
        padding-left: 0;
    }
    #settle-geo-search-results-page-new {
        padding: 0 20px;
    }
    .sgs-new-col-bordered {
        max-width: 100%;
        /*margin-left: -15px;
        margin-right: -15px;*/
    }
}


.sgs-new-search-result-item .sgs-new-col-left {
    border: 2px solid rgb(0, 158, 242);
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px;
}

.sgs-new-search-result-item .sgs-new-col-right {
    border: 2px solid rgb(0, 158, 242);
    border-radius: 20px;
    padding: 10px 20px;
    min-height: 200px;
}

.sgs-new-search-result-item .sgs-new-col-subtitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.sgs-new-search-result-item .sgs-new-col-description {
    border-top: 2px solid rgb(0, 158, 242);
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px 20px 0 20px;
}

.sgs-new-search-result-item .sgs-new-col-title {
    margin-bottom: 0;
}

.sgs-new-search-result-item .sgs-new-userpic {
    display: block;
}

.sgs-new-search-result-item .sgs-new-userpic .sgs-userpic-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid rgb(0, 158, 242);
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.sgs-new-search-result-item .sgs-new-userpic .sgs-userpic-wrapper img {
    width: 100%;
}

.sgs-new-search-result-item .sgs-new-userpic span {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.sgs-new-search-result-item .sgs-new-contribs {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
}

.sgs-new-last-updated {
    font-size: 14px;
}

.sgs-new-search-result-item.border-green .sgs-new-col-left,
.sgs-new-search-result-item.border-green .sgs-new-col-right {
    border: 2px solid rgb(55, 195, 85);
}

.sgs-new-search-result-item:nth-child(odd) .sgs-new-col-left,
.sgs-new-search-result-item:nth-child(odd) .sgs-new-col-right,
.sgs-new-search-result-item:nth-child(odd) .sgs-new-userpic .sgs-userpic-wrapper {
    border: 2px solid rgb(55, 195, 85);
}


.sgs-new-search-result-item:nth-child(odd) .sgs-new-col-description {
    border-top: 2px solid rgb(55, 195, 85);
}