<div class="settle-geo-search-wrapper">
    <select
            placeholder="{{ input_placeholder }}"
            class="settle-geo-search-input form-control {{ input_class }}"
            name="{{ input_name }}"
            data-input-mode="{{ input_mode }}"
            data-preselected-code="{{ input_preselected_code }}"
            data-preselected-text="{{ input_preselected_text }}"
            >
    </select>
</div>