<div class="settle-geo-search-wrapper">
    <select
            placeholder="Type location name.."
            class="settle-geo-search-input form-control {{ input_class }}"
            name="{{ input_name }}"
            data-input-mode="{{ input_mode }}" >
    </select>
</div>